@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Source+Code+Pro:wght@300&display=swap');
/* font-family: 'Source Code Pro', monospace; */

* {
    box-sizing: border-box;
}

body {
    color: #444;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #cdcaca;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    color: rgb(167, 61, 216);
    font-size: 4rem;
    text-align: center;
    opacity: 0.4;
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 400px;
}

.input {
    color: #444;
    border: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    display: block;
    width: 100%;
}

.input::placeholder {
    color: #8f8c8c;
}

.todos {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    cursor: pointer;
    border-top: 1px solid #cecaca;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.todos li.completed {
    color: #979393;
    text-decoration: line-through;
}


small {
    margin-top: 3rem;
    color: #979393;
    text-align: center;
}